<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova entrega :</p>
<p>
    <strong>Cliente: </strong> {{ name }} <br>
    <strong>Rua: </strong> {{ street }} <br>
    <strong>numero: </strong> {{ number }} <br>
    <strong>complemento: </strong> {{ complement }} <br>
    <strong>Estado: </strong> {{ state }} <br>
    <strong>Cidade: </strong> {{ city }} <br>
    <strong>CEP: </strong> {{ cep }} <br>
    <br>
    <small>A encomenda o aguarda em nosso depósito</small>
</p>
